body{
    background-color: black;
    color:#e14e53
} 

#mistakes, #maxWrong{
    color: white;
    font-size: 35px;

}

.btn-hover.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);

}

.btn-hover {
     width: 60px;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn{
animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
    }  

    #hangmanPic{
        max-width: 15%;
    }

    #keyboard{
        font-size: 35px;
        color: #eb3941;
    }